body {
    background-color: #ffebc1;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
.navbar{
    border-radius:0px;
    min-height: 1px;
}
.container-fluid {
    padding: 0;
}
.navbar-brand{
    height: 25px;
    padding: 3px 10px;
}
.navbar-nav > li > a{
    padding: 3px 10px;
    font-size: 12px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin-left: 0;
    line-height: 43px;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand{
    color: #fff;    
}
.navbar-inverse{
    background-color: #b93626;
    border-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color: #ff8575;
}
.navbar{
    padding: 0 10px;
}
